*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top left, var(--background-color2) 15%,var(--background-color));
    /* overflow: hidden; */
    color: rgb(255, 255, 255);
    margin-left:15rem;
    margin-top: 4.3rem;
}

body::-webkit-scrollbar {
    display: none;
 
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
 }
:root{

    --primary-color:#00aae8;
    --secondary-color:#e100ff;
    --tertiary-color:#00bd00;
    --background-color:#121d3b;
    --background-color2:#70385b;

}