*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: var(--background-color);
    color: rgb(255, 255, 255);
    margin-left:15rem;
    margin-top: 4.3rem;
}

body::-webkit-scrollbar {
    display: none;
 
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
 }
:root{

    /* --primary-color:#00aae8;
    --secondary-color:#e100ff;
    --tertiary-color:#00bd00;
    --background-color:#121d3b;
    --background-color2:#70385b; */

    --primary-color:#00b4b7;
    --secondary-color:#e4ab00;
    --tertiary-color:#5c574c;
    --background-color:#fdf7eb;
    --background-color2:#ffffff;
}