.loginUser_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4.3rem);
  color: var(--background-color);
}

.loginUser_card {
  height: 30rem;
  width: 23rem;
  border-radius: 15px;
  background-color: var(--tertiary-color);
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginUser_icon {
  height: 9rem;
  width: 9rem;
  margin-bottom: 0.5rem;
}
.loginUser_type {
  margin-bottom: 1.5rem;
  height: 3em;  
}

.loginUser_type > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-color: var(--background-color);
  padding: 0 1rem;
  height: 1.8rem;
  color: var(--tertiary-color);
  cursor: pointer;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:1rem;
}

.loginUser_type > select::-ms-expand {
  display: none;
}
.loginUser_type > select >option{
  font-size: .9rem;
  resize: none;
}
.input_container {
  margin-bottom:1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.input_holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input_holder > svg {
  color: black;
  background-color: var(--background-color);
  height: 2rem;
  width: 2.3rem;
  padding: 7px;
  border-radius: 5px 0 0 5px;
}
.input_holder > input {
  padding: 8px;
  width: 17rem;
  background: white;
  border: 0;
  outline: 0;
  border-radius: 0 5px 5px 0;
}
.loginUser_card > form > button {
  width: 100%;
  margin: auto;
  padding: 9px;
  background-color: var(--background-color);
  border: 0;
  cursor: pointer;
}
.loginUser_forgotPass {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loginUser_forgotPass > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin: 10px 0;
}
.loginUser_forgotPass > a {
  color: white;
  text-decoration: none;
}

.loginUser_socialMethods {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
}
.loginUser_socialMethods > svg {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: var(--primary-color);
}
