.login_index_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.login_category{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_category>img{
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}