.sidebar_container {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 15rem;
  border-right: 3px solid var(--tertiary-color);
}

.sidebar_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 4.3rem;
  border-bottom: 3px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

.sidebar_top > span {
  font-weight: bold;
  margin-right: 5px;
  font-size: 25px;
}

.sidebar_center {
  margin: 1.5rem 0.5rem 0 0.5rem;
  padding: .5rem 0.4rem .5rem 0.4rem;
  border: 1px dotted rgb(163, 160, 160);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon_title {
  margin-top: 2rem;
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  color: var(--primary-color);
}

.icon_title:nth-child(1){
  margin: 0;
}

.sidebar_center > ul > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
  margin: 0.8rem 0.4rem;
  border-bottom: 1px black solid;
}
.sidebar_center > ul > li > a {
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--tertiary-color);
  margin-bottom: .5rem;
}
.sidebar_center > ul > li > span {
  color: var(--tertiary-color);
}
.sidebar_center > ul > li > span > a {
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--tertiary-color);

}
.addUserSpan{
  margin-bottom: .5rem;
}
.addUserSpan > a:hover {
  border-bottom: 2px var(--tertiary-color) solid;
  transition: all  linear;
}

.sidebar_icon {
  color: var(--secondary-color);
  margin-bottom: .5rem;
}
